<div>
    <h1>Login</h1>
    {{#if error}}
        <p id="routes-error">{{error}}</p>
    {{/if}}
    <div id="error" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
    <main>
        <form action="/login" method="POST" id="login-form">
            <label for="emailAddressInput" id="emailLabel">Email Address:</label>
            <input type="email" id = "emailAddressInput" name="emailAddressInput" placeholder="Email" class="full-width-input">
            <label for="passwordInput" id="passLabel">Password:</label>
            <input type="password" id = "passwordInput" name="passwordInput" placeholder="Password" class="full-width-input">
            <label for="submitInput" id="submitInput">Submit:</label>
            <input type="submit" id="submitInput" name="submitSearchCharacterByName" placeholder="Submit" class="full-width-input">
        </form>
        <a href="/register">Click here to register!</a>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="../public/js/client_side_validation.js"></script>
</div>