<div class="middle">
    <div class="feed">
        <h2>All Music:</h2>
        {{#each music}}
            <div class="post-1-music-list">
                <img src="../../public/pics/vinyl.webp" alt="vinyl" class="vinyl">
                <div class="music-content">
                    <a href="/music/{{_id}}"><h3>{{name}}</h3></a>
                    <p>{{artist}}</p>
                    <p>{{genre}}</p>
                </div>
                
            </div>
            
        {{/each}}
    </div>
</div>