<div class="middle">
    <div class="reg">
        {{#each music}}
            <h1>------------------------</h1>
            <div class="song">
                <a href="/music/{{_id}}">click here</a>
                <h3>{{name}}</h3>
                <p>{{artist}}</p>
                <p>{{genre}}</p>
            </div>
        {{/each}}
    </div>
</div>