<div class="middle">
    <h2>Recommendations</h2>
    <div class="feed">
        {{#each music}}
            <div class="post-1-music-list">
                <div>
                    <img src="/public/pics/vinyl.webp" alt="vinyl" class="vinyl">
                    <div class="music-content">
                        <a href="/music/{{_id}}"><h3>{{name}}</h3></a>
                        <p>{{artist}}</p>
                        <p>{{genre}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>