<!-- has song results
return res.render('searchResult', {albums: albums, songs: songs});
-->

<div class="middle">
    <div class="reg">
        {{#each albums}}
            <h1>-------------------</h1>
            <div class="reg">
                <img src="public/pics/vinyl.webp" alt="vinyl">
                <h3>{{name}}</h3>
                <h3>{{artist}}</h3>
            </div>
            <h1>-------------------</h1>
        {{/each}}

        {{#each songs}}
            <h1>-------------------</h1>
            <div class="reg">
                <img src="../../public/pics/vinyl.webp" alt="vinyl">
                <h3>{{name}}</h3>
                <h3>{{artist}}</h3>
            </div>
            <h1>-------------------</h1>
        {{/each}}
    </div>
</div>