<div class="error-container">
    <h1 class="error-header">😱There's Been an Error😱</h1>
    <div class="error-message">
      <p class="error-title">Looks like someone juked the box too hard, here's what went wrong:</p>
      <p class="error-detail">{{error}}</p>
    </div>
    <img src="assets/photos/rain.jpg" alt="Rain Image" class="error-image">
    <a class="error-go-back" href={{link}}>Go Back</a>
</div>