<div class="middle">
    <div class="feed">
        <div class="post-1">
            {{#each users}}
                <div class="reg-users">
                    <a href="/users/{{_id}}">{{username}}</a>
                    <small>{{bio}}</small>
                </div>
                <!--DISPLAY LINE BREAK -->
                <hr>
            {{/each}}
        </div>
        
    </div>
</div>